@model IEnumerable<gym.Models.Student>

<h2>Список студентів</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Дата народження</th>
            <th>Телефон</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.BirthDate.ToShortDateString()</td>
                <td>@student.Phone</td>
                <td>@student.Email</td>
            </tr>
        }
    </tbody>
</table>
